*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* To remove a scrollbar */
::-webkit-scrollbar{
    display: none;
}

:root {
    --primary: rgb(248, 165, 179) ;
    --secondary: white;
    --alternative: black;
    --tertiary: rgb(168, 111, 3);
    --circle: rgb(210, 147, 29);
    --awesome: rgb(232, 37, 37);
    --pretty:  rgb(125, 17, 30);
}

@property --top-left {
    syntax:"<percentage>";
    inherits: false;
    initial-value:50%;
}
@property --top-right{
    syntax: "<Percentage>";
    inherits: false;
    initial-value:50%;
}
@property --bottom-left{
    syntax: "<percentage>";
    inherits: false;
    initial-value:0%;
}
@property --bottom-right {
    syntax: "<percentage>";
    inherits: false;
    initial-value:0%;
}

/*Navbar & footer*/
:is(.navbar, footer){
    background-color: var(--tertiary);
}

/* object-fit and objecy-position */
img{
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
/* Navbar */
:is(.nav-link) {
    color: var(--secondary); 
}


/* Navbar */
a { 
   transition: all .5s;

   &:hover {
    transform: scale(1.2);

   }
}

nav ul {
    list-style: none; 
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    color:var(--awesome);
    font-family: "Poetsen One", sans-serif;
    font-size: 7rem;
    text-shadow: 0 0 10px white;
}

img[alt='logo'] {
    width: 4rem;
    aspect-ratio: 1/1; /*maintain the height based on the width*/
    object-fit: cover;
    object-position: center;
    
}

.backdrop { 
background-image: url('https://anushqakandan.github.io/All-images/Javascript/back2.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 100vh;
}

@media only screen and (max-width: 767px) {
    .backdrop {
        background-position: center; /* Adjust to display a different part for mobile view */
    }
}



main{
    margin-top: 5rem;
}
/* display -> grid */
:is(body) {
    display: grid;
}
/*Create three rows*/
/* :is(body) {
    grid-template-rows: auto minmax(100%, 100dvh) 30rem;
} */

/* About */
.background-image { 
    background-image: url('https://anushqakandan.github.io/All-images/Javascript/About2.jpg');
        background-size: cover; 
        background-repeat: no-repeat; 
    }
    @media only screen and (max-width: 767px) {
        .background-image {
            background-position: center; /* Adjust to display a different part for mobile view */
        }
    }

.cardAbout{
    width: 1000px;
    backdrop-filter: blur(5px);
    border: black 1px solid;
    background-color: inherit;


 }
/* About text */
.card-text{
    color: black;
    font-size: 1.9rem;
    font-family: 'Poetsen One', serif;
    text-align: center;
} 

.display-2{
    color: var(--awesome) ;
    text-align: center;
    margin-top: 5rem;
    font-weight: bold;
    text-shadow: 0 0 10px white

}

/* Card  for products*/
.card{
    width: 20rem;    
}

.card-text1{
    color: black;
    font-size: 1rem;
}
.card-text2{
    font-weight: bold;
}

/* Product Image */
:is(#cardImg5, #cardImg6, #cardImg8){
    object-fit: cover;
    object-position: bottom;
}

/* Add to Cart */


/* Footer */
.bottom {
    text-align: center;
}

/* Responsive design */
@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    .cardAbout {
        width: 90%;
    }

}

/* Contact Info */
.background-image1{
    background-image: url('https://anushqakandan.github.io/All-images/Javascript/Contact1.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    /* height: 120vh; */
 
}

.card-Contact{
   backdrop-filter: blur(1px);
   text-align: center;
}

.card-body{
    text-align: center;
}
.Contact-text{
    font-weight: bold;
    font-size: 2rem;
    
}

.mb-3{
    width: 30rem;
    margin-left: 25rem;
}
.message{
    height: 17rem;
}

@media only screen and (max-width: 767px) {
    .mb-3 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

/* Contact Info */
.last-button {
    display: flex;
    justify-content: center;
    gap: 5rem; 
}

#contactinfo{
    margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
    .background-image1 {
        background-position: center; /* Adjust to display a different part for mobile view */
    }
}